

@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Главная страница</h2>
<!--Кнопка обновления данных-->
<button type="button" class="btn resetbtn" onclick="getStocks()">Обновить</button>


<div class="grid" id="stockarray"></div>

<script>
    $(document).ready(function () {
        getStocks();//Заполняем страницу при первой загрузке
        window.setInterval(function () {
            getStocks();
        }, 15000);//Обновляем данные раз в 15 секунд

    });
</script>

